.linkLink:not([data-tooltip-html=""]) {
  color: #8cabe6;
  position: relative;
  cursor: default;
  border-bottom: 1px dashed #8cabe6;
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

.buttonRow button {
  margin: 0;
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
}

.metaItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.imageContainer {
  position: relative;
}

.secondaryImage {
  height: 22px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.metaItem img:not(.secondaryImage) {
  height: 32px;
  object-fit: contain;
}

.money {
  line-height: 0;
  font-size: 0;
}

.money img {
  height: auto;
}