.root {
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
}

.center {
  justify-content: end;
}

.label img {
  height: 22px;
  object-fit: contain;
}

.info {
  background: url(../../../../assets/info.png) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  font-size: 0;
  line-height: 0;
}

.armourWarning {
  color: #ff0;
  grid-column: span 2;
  text-align: center;
  text-wrap: balance;
  margin: 0 auto;
  max-width: 90vw;
}

